[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
rope = "*"
pylint = "*"
yapf = "*"
requests = "*"
pytest = "*"
pytest-cov = "*"
nose = "*"

[packages]
click = "*"
aiohttp = "*"
uvloop = "*"
colorama = "*"
playsound = "*"
pygobject = "*"
aiodns = "*"
cchardet = "*"

[requires]
python_version = "3.5"
